{% extends "base.html" %}
{% block title %}
Search
{% endblock %}

{% block content %}

<h2>Search:</h2>
{% if message %}
<p
    style="padding:10px; color:red; display:inline-block;background-color:lightpink; border:1px solid sandybrown; border-radius:10px;">
    {{ message }}
</p>
{% endif %}

<form action="{% url 'search:results' %}" method="POST">
    {% csrf_token %}
    <label for="query" style="display:block;">Enter a string to match</label>
    <select name="query" id="query" style="width:15%; padding:5px; margin:5px; border-radius:10px;" required>
        {% for option in options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    <button type="submit" style="padding:3px; font-size:medium; border-radius:10px;">Search</button>
</form>
{% endblock %}